{% extends 'app/base.html' %}
{% load static %}


{% block title %}
    <h1>Detalles</h1>
{% endblock title %}
    
{% block contenido %}

<figure class="figure">
    <img src="{{calzado.imagenCalzado.url}}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption">{{calzado.tipoCalzado}}.</figcaption>
  </figure>

  <ul class="list-group">
    <li class="list-group-item">{{calzado.tipoCalzado}}</li>
    <li class="list-group-item">{{calzado.tela}}</li>
    <li class="list-group-item">{{calzado.color}}</li>
    <li class="list-group-item">{{calzado.talla}}</li>
    <li class="list-group-item">{{calzado.precio}}</li>
    <li class="list-group-item">{{calzado.cantidad}}</li>
    <li class="list-group-item">{{calzado.descripcion}}</li>
    <li class="list-group-item">{{calzado.telefonoVendedor}}</li>
    <li class="list-group-item">{{calzado.emailVendedor}}</li>
</ul>

{% endblock contenido %}

